@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.nav{
    height: 5vh;
    width: 100%;
    background-color: #EB1551;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}
.partie1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.partie2{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.partie2 ul,.partie1 ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.partie2 ul li,.partie1 ul li{
    color: #fff;
    display: flex;
    margin-inline: 8px;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}
@media screen and (max-width: 1114px) {
    .nav {
      display: none;
    }
}